<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.du.knjsystem_product.mapper.BarcodeMapper">

    <select id="selectBarcodeList" resultType="edu.du.knjsystem_product.dto.BarcodeListDto">
        SELECT * FROM (
        -- 단일상품
        SELECT
        A004.SEQ_NO_A004 AS barcodeId,
        F.PRDR_BAR_CD    AS barcodeNo,
        F.PRDR_BAR_NM    AS barcodeName,
        F.REGIST_DATE    AS barcodeRegDate,
        '단일상품'        AS productType,
        A003.STD_CERT_NO AS stdCertNo,
        A003.REP_ITEM_NM AS repItemName,
        F.SEQ_NO_A001    AS seqNoA001
        FROM T_SG_F001 F
        LEFT JOIN T_SG_A004 A004 ON F.PRDR_BAR_CD = A004.PRDR_BAR_CD AND F.SEQ_NO_A001 = A004.SEQ_NO_A001
        LEFT JOIN T_SG_A003 A003 ON A004.SEQ_NO_A003 = A003.SEQ_NO_A003
        WHERE F.DEL_YN = 'N'

        UNION

        -- 혼합상품
        SELECT
        A004.SEQ_NO_A004 AS barcodeId,
        G.PRDR_BAR_CD    AS barcodeNo,
        G.PRDR_BAR_NM    AS barcodeName,
        G.REGIST_DATE    AS barcodeRegDate,
        '혼합상품'        AS productType,
        A003.STD_CERT_NO AS stdCertNo,
        A003.REP_ITEM_NM AS repItemName,
        G.SEQ_NO_A001    AS seqNoA001
        FROM T_SG_G001 G
        LEFT JOIN T_SG_A004 A004 ON G.PRDR_BAR_CD = A004.PRDR_BAR_CD AND G.SEQ_NO_A001 = A004.SEQ_NO_A001
        LEFT JOIN T_SG_A003 A003 ON A004.SEQ_NO_A003 = A003.SEQ_NO_A003
        WHERE G.DEL_YN = 'N'
        ) AS BarcodeAll

        <where>
            BarcodeAll.seqNoA001 = #{search.seqNoA001}
            <if test="search.barcodeNo != null and search.barcodeNo != ''">
                AND BarcodeAll.barcodeNo LIKE CONCAT('%', #{search.barcodeNo}, '%')
            </if>
            <if test="search.barcodeName != null and search.barcodeName != ''">
                AND BarcodeAll.barcodeName LIKE CONCAT('%', #{search.barcodeName}, '%')
            </if>
            <if test="search.productType == '단일상품'">
                AND BarcodeAll.productType = '단일상품'
            </if>
            <if test="search.productType == '혼합상품'">
                AND BarcodeAll.productType = '혼합상품'
            </if>
            <if test="search.stdCertNo != null and search.stdCertNo != ''">
                AND BarcodeAll.stdCertNo LIKE CONCAT('%', #{search.stdCertNo}, '%')
            </if>
            <if test="search.repItemName != null and search.repItemName != ''">
                AND BarcodeAll.repItemName LIKE CONCAT('%', #{search.repItemName}, '%')
            </if>
            <if test="search.all != null and search.all != ''">
                AND (
                BarcodeAll.barcodeNo LIKE CONCAT('%', #{search.all}, '%')
                OR BarcodeAll.barcodeName LIKE CONCAT('%', #{search.all}, '%')
                OR BarcodeAll.stdCertNo LIKE CONCAT('%', #{search.all}, '%')
                OR BarcodeAll.repItemName LIKE CONCAT('%', #{search.all}, '%')
                )
            </if>
        </where>

        ORDER BY BarcodeAll.barcodeRegDate DESC
    </select>

</mapper>
