<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.du.knjsystem_product.mapper.CertMapper">

    <select id="selectCertList" resultType="edu.du.knjsystem_product.dto.CertListDto">
        SELECT
        A003.SEQ_NO_A003        AS seqNoA003,
        A002.SEQ_NO_A002        AS seqNoA002,
        A002.STD_CERT_NO       AS certNo,
        A003.REP_ITEM_NM        AS repItemNm,
        A003.PRDR_GRP_NM        AS groupName,
        A003.CERT_STATE_NM      AS certState,
        A003.CERT_GB_NM         AS certType
        FROM T_SG_A002 A002
        JOIN T_SG_A001 A001 ON A002.SEQ_NO_A001 = A001.SEQ_NO_A001
        JOIN T_SG_A003 A003 ON A002.STD_CERT_NO = A003.STD_CERT_NO
        LEFT JOIN T_SG_A004 A004 ON A003.SEQ_NO_A003 = A004.SEQ_NO_A003
        WHERE A001.SEQ_NO_A001 = #{memberId}

        <if test="itemCd != null and itemCd != ''">
            AND A003.ITEM_CD = #{itemCd}
        </if>
        <if test="groupName != null and groupName != ''">
            AND A003.PRDR_GRP_NM LIKE CONCAT('%', #{groupName}, '%')
        </if>
        <if test="farmerName != null and farmerName != ''">
            AND A003.FRMR_NM LIKE CONCAT('%', #{farmerName}, '%')
        </if>
        <if test="certState != null and certState != ''">
            AND A003.CERT_STATE_NM = #{certState}
        </if>
        <if test="certNo != null and certNo != ''">
            AND A002.STD_CERT_NO = #{certNo}
        </if>
        <if test="itemNm != null and itemNm != ''">
            AND A003.ITEM_NM LIKE CONCAT('%', #{itemNm}, '%')
        </if>
        <if test="hasBarcode == 'Y'">
            AND A004.SEQ_NO_A004 IS NOT NULL
        </if>
        <if test="hasBarcode == 'N'">
            AND A004.SEQ_NO_A004 IS NULL
        </if>
    </select>
</mapper>